@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");

body {
  background-size: cover;
  /* background-color: rgba(#e6ebf5) !important; */
  background-image: url("../Images/party_pic2.png") !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Varela", sans-serif;
}

#mainGroup,
#detailsForm {
  vertical-align: middle;
  min-width: 250px;
  max-width: 400px;
  padding: 0px 20px 10px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -0px;
  border: 1px solid transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  align-items: center;
  /* background-color: rgba(237, 239, 245, 20%) !important; */
  background-image: linear-gradient(
    rgba(237, 239, 245, 95%),
    rgba(237, 239, 245, 85%),
    rgba(237, 239, 245, 95%)
  );
  /* background-image: linear-gradient(#0a0d13, #20232f, #0a0d13); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

#headerGroup {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  vertical-align: middle;
  min-width: 250px;
  max-width: 400px;
  align-items: center;
  padding: 15px 20px 10px 20px;
  border: solid 1px #40aef8;
  border-top: none;
  border-bottom: none;
  /* background-color: #3d2f9d; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  background-image: linear-gradient(
    to bottom right,
    #974df7,
    #40aef8
  ) !important;
}

#headerText {
  position: relative;
  font-size: 0.9em;
  text-align: left;
  letter-spacing: 4px;
  color: white;
  font-family: "Lato", sans-serif;
  border-radius: 0px;
}

#dateHeaderText {
  margin-top: -1px;
  margin-bottom: -1px;
  font-weight: bolder;
  font-size: 2em;
  text-align: left;
  /* letter-spacing: 4px; */
  color: white;
  font-family: "varela", sans-serif;
  text-shadow: 2px 2px 4px #0000000d;
  border-radius: 0px;
}
#timeHeaderText {
  margin-top: -3px;
  margin-bottom: 2px;

  font-size: 0.95em;
  text-align: left;
  /* letter-spacing: 4px; */
  color: #330066;
  font-family: "varela", sans-serif;
  text-shadow: 2px 2px 4px #00000005;
  border-radius: 0px;
}

#sharingForm {
  min-width: 80px;
  max-width: 350px;
  padding: 0px 20px 10px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 10px;

  align-items: center;

  background-image: linear-gradient(#0a0d13cc, #20232fb3, #0a0d13cc);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
input::placeholder,
textarea::placeholder {
  color: #8c98a8;
  font-size: 1.3em;
  border-radius: 0px;
}

/* on focus placeholder */

input:focus::placeholder,
textarea:focus::placeholder {
  color: #0a0d13;
  font-size: 1.3em;
  border-radius: 0px;
}

input:focus:focus::placeholder,
textarea:focus:focus::placeholder {
  color: #8c98a8;
  border-radius: 0px;
}

input {
  font-family: "varela", sans-serif;
  font-size: 0.875em;
  width: 93%;
  max-width: 195%;
  height: 100%;
  padding-left: 10px;
  padding: 10px;
  border-radius: 0px;
  /* padding: 0px 0px 0px 15px; */

  background: transparent;
  outline: none;
  color: #565c73;

  border: solid 1px #a0acbd;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  visibility: visible !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input:focus {
  border-radius: 0px;
  background: #c5cdd9;
  color: #0a0d13;
}
input[type="time"]::-webkit-clear-button {
  border-radius: 0px;
  display: none;
}

/* Removes the spin button */
input[type="time"]::-webkit-inner-spin-button {
  border-radius: 0px;
  display: none;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  border-radius: 0px;
  display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
  border-radius: 0px;
  display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  border-radius: 0px;
  color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
  min-height: 2.5rem;
  border-radius: 0px;
  appearance: none;
  -webkit-appearance: none;

  visibility: visible !important;
}

#nameInput {
  /* margin-left: -40px; */
  border-radius: 0px;
  margin-top: 10px;
  margin-bottom: 15px;
  line-height: 0.875em;
  padding-top: 10px;
  padding-bottom: 5px;
  /* background-color: #20232f8c; */
  height: 0.875em;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "Varela", sans-serif;
  font-size: large;
  overflow: auto;
  resize: none;

  /* padding: 0px 140px; */
}
input[type="date"],
focus {
  /* font-size: 40px; */
  border-radius: 0px;
  outline: none;
  box-shadow: none;
  visibility: visible !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input[type="time"] {
  border-radius: 0px;
  display: inline-flex;
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  visibility: visible !important;
  min-height: 2.5rem;
  width: 95%;
  padding: 0px;
  padding-left: 4px;
}
textarea {
  border-radius: 0px;
  padding-left: 10px;
  width: 95%;
  max-width: 95%;
  height: 110px;
  max-height: 110px;
  visibility: visible !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  resize: none;
  background: transparent;
  outline: none;

  color: #565c73;
  font-family: "Varela", sans-serif;
  font-size: 0.875em;

  border: solid 1px #a0acbd;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:focus {
  border-radius: 0px;
  background: #c5cdd9;
  color: #0a0d13;
}

#submitButton {
  font-family: "varela", sans-serif;
  font-size: large;
  font-weight: bolder;
  color: #b3aca7;

  outline: none;
  cursor: pointer;
  padding: 0.5em;
  margin-bottom: 1em;
  margin-left: -5px;
  margin-left: 10px;
  border-radius: 20px;
  width: 200px;

  border-top: none;

  color: white !important;
  background-image: linear-gradient(
    to bottom right,
    #974df7,
    #40aef8
  ) !important;
  border: 0.125px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
  display: inline-block;
  transition: all 0.4s ease 0s;
}

#submitButton:hover {
  color: #ffffff !important;
  background-image: linear-gradient(
    to bottom right,
    #bd6be3,
    #e95c57
  ) !important;
  border: 5px solid #c567c9;
  transition: all 0.4s ease 0s;
}

#dash {
  font-family: "varela", sans-serif;
  font-size: 1em;
  margin-left: -10px;
  margin-right: -10px;
  /* padding: 0px 0px 0px 15px; */
  max-width: 100%;
  min-width: 60%;
  background: transparent;
  outline: none;
  color: #565c73;
  padding-left: 2px;
  padding-right: 0.8px;
  border-bottom: none;
}
#endTime {
  border-radius: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 48%;
  min-width: 42%;
  border-left: 1px solid transparent;
  position: relative;
}
#startTime {
  border-radius: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  min-inline-size: 0%;
  min-width: 42%;
  max-width: 48%;
  border-right: 1px solid transparent;
}
#descriptionInput {
  border-radius: 0px;
  border: solid 1px #a0acbd;
  margin-bottom: 10px;
  padding-top: 10px;
  /* padding: 0px 140px; */
}

#name {
  font-weight: bolder;
  font-family: "Varela", sans-serif;
  font-size: xx-large;
  overflow: auto;
  resize: none;
  color: rgb(37, 47, 66);
  padding-bottom: 5px;
  border-bottom: 1px solid #a0acbd;
  margin: 0px 0px 0px 0px;
  text-align: center;
  text-shadow: 2px 2px 4px #0000000d;
}

#place {
  color: #3366cc;
  padding: 0.125em;
  font-size: 17px;
  border-bottom: 1px solid #a0acbd;
  margin: 0px 0px 0px 0px;
  text-align: center;
  font-family: "Varela", sans-serif;
}

#about {
  padding-top: 0px;
  font-weight: lighter;
  color: #8c98a8;
  font-size: 15px;
  text-align: left;
  margin-bottom: 0px;
  border: none;
  font-family: "Varela", sans-serif;
}

#description {
  font-family: "Varela", sans-serif;
  font-size: 18px;
  color: rgb(37, 47, 66);
  text-align: left;
  height: 135px;
  padding-bottom: 2px;
  margin-top: 2px;
  margin-bottom: 0px;
  border-bottom: 1px solid #a0acbd;
  overflow: scroll;
}

#link {
  background-color: white;
  position: relative;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 70%;
  margin-top: 5px;
  margin-left: 10px;
  overflow: hidden;
  color: black;
  font-size: 20px;
  text-align: left;
  padding: 2px;
  padding-left: 10px;
  border: 1px solid white;
}

.link-group {
  white-space: nowrap;
}

#iconButton {
  font-size: 20px;

  border: 0.125px solid transparent;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-image: linear-gradient(
    to bottom right,
    #974df7,
    #40aef8
  ) !important;
}

#shareMessage,
#copyMessage {
  /* width: %; */
  overflow: auto;
  padding-top: 0px;
  font-weight: lighter;
  color: white;
  font-size: 15px;
  text-align: left;
  margin-bottom: 10px;
  border: none;
  font-family: "Varela", sans-serif;
  text-shadow: 2px 2px 4px #00000033;
}
