@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");

body {
  background-size: cover;
  background-image: url("../Images/party2.jpg") !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Varela", sans-serif;
}

form {
  vertical-align: middle;
  min-width: 250px;
  max-width: 400px;
  padding: 20px 20px 10px 20px;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 10px;
  align-items: center;
  background-image: linear-gradient(#0a0d13b3, #20232f8c, #0a0d13b3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
  padding-top: 10px;
  font-weight: lighter;
  color: #3d4254;
  font-size: 15px;
  border-bottom: 1px solid #3d4254;
  text-align: center;
  padding-bottom: 2px;
  margin-bottom: 0px;
}

#nameInput {
  /* margin-left: -40px; */
  line-height: 30px;
  /* background-color: #20232f8c; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: #82bbe4;
  font-size: 30px;
  min-width: 99%;
  width: 99%;
  max-width: 99%;
  height: 100%;
  max-height: 100%;
  display: block;
  margin: 0px 0px 0px 0px;
  text-align: center;
  background-color: transparent;
  border: none;
  font-family: "Varela", sans-serif;
  font-style: italic;
  padding-bottom: 10px;
  height: auto;
  border-bottom: 1px solid #3d4254;
  overflow: auto;
  resize: none;
  padding-top: 10px;
  /* padding: 0px 140px; */
}

#nameInput:focus {
  background: rgba(256, 256, 256, 1);
  font-size: 30px;
  background-color: #20232f8c;
  outline: none;
  color: 148cef;
  border-bottom: 1px solid #3d4254;

  height: auto;
}

#nameInput:focus::placeholder {
  font-size: 20px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: transparent; */
  height: auto;
}

#locationInput:focus::placeholder {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: auto;
}

#locationInput {
  font-size: 19px;
  /* margin-left: -40px; */
  background-color: #20232f8c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;

  min-width: 97%;
  width: 97%;
  max-width: 97%;
  height: 30px;
  max-height: 100%;
  display: block;
  margin: 0px 0px 0px 0px;
  text-align: left;

  border: none;
  font-family: "Varela", sans-serif;
  font-style: italic;
  padding-left: 10px;
  height: auto;
  border: 1px solid #3d4254;
  overflow: auto;
  /* padding: 0px 140px; */
  margin-bottom: 10px;
}

#locationInput:focus {
  background: rgba(256, 256, 256, 1);
  /* font-size: 40px; */
  background-color: #20232f8c;
  outline: none;
  color: white;
  border-bottom: 1px solid #3d4254;
  height: auto;
}

h5 {
  position: relative;
  text-align: left;
  font-size: 18px;
  color: #3d4254;
  margin-top: 10px;
  font-weight: lighter;
  margin-bottom: 0px;
  font-family: "Varela", sans-serif;
}

#timeInput {
  /* margin-top: 3px; */
  margin-top: -200px;
  margin-bottom: 0px;
  min-width: 149px;
  justify-content: "space-between";
}

span {
  font-size: 30px;
  color: #3d4254;

  font-weight: lighter;

  font-family: "Varela", sans-serif;
}
/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  color: #95a5a6;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 18px;
  border: 1px solid #3d4254;
  background: transparent;
  width: 97%;
  display: inline-block !important;
  visibility: visible !important;
  padding: 0.25em;
  margin-bottom: 5px;
}

input[type="date"],
focus {
  /* font-size: 40px; */
  background-color: transparent;
  outline: none;
  color: white;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input[type="time"] {
  text-align: center;
  margin-top: -200px;
  appearance: none;
  -webkit-appearance: none;
  color: #95a5a6;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 18px;
  border: 1px solid #3d4254;
  background: transparent;
  min-width: 149px;
  width: 149px;
  max-width: 200px;
  visibility: visible !important;
}

input[type="time"],
focus {
  /* font-size: 40px; */
  background-color: transparent;
  outline: none;
  color: white;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input[type="time"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="time"]::-webkit-inner-spin-button {
  display: none;
}

button {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  vertical-align: middle;
  text-align: center;
  font-size: large;
  font-weight: bolder;
  padding: 0.5em;
  margin-bottom: 1em;
  margin-left: -5px;
  border-radius: 20px;
  width: 200px;
  color: white !important;
  border-radius: 20px !important;
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(
    to bottom right,
    #5c258d,
    #4389a2
  ) !important;
  border: 0.125px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  transition: all 0.4s ease 0s;
}

button:hover {
  color: #ffffff !important;
  background-image: linear-gradient(
    to bottom right,
    #bd6be3,
    #e95c57
  ) !important;
  border: 5px solid #c567c9;
  transition: all 0.4s ease 0s;
}

#descriptionInput {
  /* margin-left: -40px; */
  line-height: 19px;
  /* background-color: #20232f8c; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  font-size: 19px;
  min-width: 96%;
  width: 96%;
  max-width: 96%;
  display: block;
  margin: 0px 0px 0px 0px;
  text-align: left;
  background-color: transparent;
  border: none;
  font-family: "Varela", sans-serif;
  padding-bottom: 10px;
  min-height: 100px;
  max-height: 500px;
  border-bottom: 1px solid #3d4254;
  overflow: auto;
  resize: none;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  border: 1px solid #3d4254;
  /* padding: 0px 140px; */
}

#descriptionInput:focus {
  background: rgba(256, 256, 256, 1);
  font-size: 19px;
  background-color: #20232f8c;
  outline: none;
  color: 148cef;
  border: 1px solid #3d4254;

  height: auto;
}

#descriptionInput:focus::placeholder {
  font-size: 20px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: transparent; */
  height: auto;
}

#date {
  margin-top: 20px;
  padding: 0.5em;
  font-weight: lighter;
  color: #8f68c9;
  font-size: 15px;
  border-top: 1px solid #3d4254;
  border-bottom: 1px solid #3d4254;
  text-align: center;
  font-family: "Varela", sans-serif;
  margin-bottom: 0px;
}

#name {
  color: #82bbe4;
  font-size: 40px;
  border-bottom: 1px solid #3d4254;
  margin: 0px 0px 0px 0px;
  text-align: center;
  font-family: "Varela", sans-serif;
}

#place {
  color: #82bbe4;
  padding: 0.125em;
  font-size: 17px;
  border-bottom: 1px solid #3d4254;
  margin: 0px 0px 0px 0px;
  text-align: center;
  font-family: "Varela", sans-serif;
}

#about {
  padding-top: 0px;
  font-weight: lighter;
  color: #3d4254;
  font-size: 15px;
  text-align: left;
  margin-bottom: 0px;
  border: none;
}

#description {
  font-weight: lighter;
  color: white;
  font-size: 20px;
  text-align: left;
  height: 200px;
  padding-bottom: 2px;
  margin-top: -3px;
  margin-bottom: 0px;
  border-bottom: 1px solid #3d4254;
}
